.nav {
  position: absolute;
  display: flex;
  flex-flow: column;
  height:100%;
  width: $navbar-width;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index: 1; 
  
  h1 {
    align-self: center;
    font-size: $h-md;
    font-variant: small-caps;
  }
  
  ul {
    align-self: center;
    font-size: $h-sm;
    padding-right: .5em;
    li {
      margin: 1em;
    }
  }

  .logo {
    align-self: center;
    padding: 1.5em 0 2em
  }
}