.topics-options {
    display: flex;
    flex: row;
    align-items: baseline;
    font-family: $header-font;
    color: $dark-blue;
    font-weight: 600;
    padding-bottom: 1.5em;
    h2 {
        padding: 0 0 0 1em;
    }

    select {
        align-self: flex-end;
        margin: 0 3em 0.4em 1.2em;
        border: none;
        box-shadow: 1px 1px 2px 1px rgb(110, 110, 110);
        padding: 5px;
        border-radius: 2px;
    }
}