.welcome-screen {
    width: 26em;
}

.welcome-header {
    display:flex;
    justify-content: center;
}

.welcome-options {
    display: flex;
    justify-content: center;
}

.welcome-options button {
    display: block;
    margin: 1.5em 0.7em 0;
    font-size: $h-sm;
}

